/* overal */



.logo
{
    position: fixed;
    top: 0px;
    left: 50px;
}

.navigatiebalk
{
position: absolute;
top: 0px;
background-color: black;
right: 50px;
left: 305px;
padding-top: 30px;
padding-bottom: 22px;
height: 50px;
padding-left: 200px;

}

hr
{
    margin-left: 50px;
    margin-right: 50px;
}
p
{
    margin-left: 25px;
}
h1
{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: red;
    margin-top: 100px;

}

a:hover
{
    color: red;
}
.navigatiebalk a{
    display: inline-block;
    width: 250px;
    color: white;
}
#openingsuren
{
    float: right; 
    margin-top: 10px;
    width: 40%;
}
#openingsuren td
{
    width: 100px;
    text-align: center;
}
#blok3
{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 25%;
    float: left;
    background-color: black;
    color: white;
}
/* infopagina */
.info, .h1infopagina
{
    margin-left: 50px;
}
#h2infopagina
{
    margin-top: 50px;
    margin-left: 40%;
}
.h1infopagina
{
    margin-left: -25px;
    padding-top: 20px;
}
#infopaginainfo
{
    margin-left: 50px;
    margin-right: 50px;
    width: 40%;
    float: left;
}
#mercedesimg
{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    width: 800px;
   
}
#infopaginainfo2
{
    float: right;
    margin-left: 50px;
    margin-right: 150px;
    width: 40%;
}

#bmwimg
{
  
    
    float: left;
    margin-left: 50px;
    margin-right: 50px;
 
  
}

#infopaginainfo3
{
    margin-left: 50px;
    width: 40%;
    float: left;
}
#blok2
{
    margin-top: 500px;
    margin-bottom: 250px;

}
/* homepagina */
.img1
{
    
    float: left;
    width: 50%;
    
}
#container
{
   margin-top: 50px;
    height: 400px;
    margin-left: 150px;
    margin-right: 200px;
}
.tekst
{
    
    float: right;
    width: 40%;
}
.img2
{
    float: right;
    width: 50%;
    
}
#container2
{
    
    height: 400px;
    margin-left: 150px;
    margin-right: 50px;
}
.tekst2
{
    margin-top: 25px;
    float: left;
    width: 40%;
}
.link
{
    margin-left: 100px;
}






/*
contactpagina
*/

#groteproblemen
{
    width: 30%;
    float: left;
    margin-left: 400px;
}

#kleineproblemen
{
    width: 40%;
    float: right;
    margin-right: 100px;
}
#problemen
{
    margin-top: 100px;
}
#ondertitelcontactpagina
{
    text-align: center;
}

img[title="klokfoto"]
{
    
    float: center;
    margin-left: 550px;
    margin-bottom: 100px;
}
/*
afspraak maken
*/

#afspraakmaken
{
    margin-top: 50px;
    /* margin-left: 650px;
    margin-right: 640px; */
    background-color: black;
    padding: 20px;
}
/* #afspraakmaken2
{
    visibility: hidden;
} */

input
{
    margin-left: 50px;
    width: 200px;
}
#mededelingafspraakmaken
{   
    margin-left: 30%;
    margin-top: 50px;    

}


/*
carrosserie
*/
#carrosserie1
{
    text-align: center;
    margin-top: 20px;
}
#carrosserie2
{
    text-align: center;
    margin-top: 10px;
}
#carrosserie3
{
    text-align: center;
    margin-top: 20px;
}
#carrosserie4
{
    text-align: center;
}

img[title="imgcarrosserie1"]
{
    float: right;
    margin-right: 150px;
    margin-top: 100px;
}
img[title="imgcarrosserie2"]
{
    float: left;
    
    margin-left: 90px;
    margin-top: 200px;
}
.img1uitleg
{
    float: left;
    width: 40%;
    margin-top: 150px;
    margin-left: 100px;
    
}

#img2uitleg
{
    float: right;
    margin-top: 150px;
    width: 30%;
    
    text-align: right;
    margin-right: 150px;
}
#stappenplan
{
    text-align: left;
}


/*
interieur
*/


#interieur1
{
    text-align: center;
    
    padding-top: 25px;
}
#interieur2
{
    text-align: center;
}
#interieur3
{
    text-align: center;
    padding-bottom: 25px;
}
#interieur4
{
    text-align: center;
    margin-top: 25px;
}
#interieur5
{
    margin-left: 40%;
}
#interieur6
{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

img[title="multimedia"]
{
    float: left;
    margin-left: 100px;
    margin-top: 50px;
   
    margin-right: 75px;
}
#multimediaschermuitleg
{
    float: right;
    margin-top: 25px;
    margin-right: 200px;
    margin-left: 200px;
    text-align: right;
    
    
}
#ledinterieuruitleg
{

margin-left: 150px;
margin-top: 50px;
float: left;

}
img[title="ledinterieur"]
{
    float: right;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 250px;
    
}

