/* phone versie css */
/* overal */
.logo
{
    /* position: fixed; */
    /* float: left;
    top: 0px;
    padding-left: 5%; */
    width: 100%;
    box-sizing: border-box;
}
img[title="afbeeldingen/Knipsel_garage_50.png"]
{
    width: 600px;
}
.navigatiebalk
{
/* position: relative; */
top: 0%;
background-color: black;
float: right;
box-sizing: border-box;
width: 100%;
height: 25%;
/* padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%; 
height: 5%;*/
}
/* .navigatiebalk[a:first-child] werk niet
{
padding-left: 20%;
} */

p
{
    padding-left: 3%;
}
h1
{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: red;
    margin-top: 5%;
    width: 100%;

}

a:hover
{
    color: red;
}
.navigatiebalk a{
    display:block;
    width: 100%;
    color: white;
    height: 5%;
    text-align: center;
}
#openingsuren
{
    float: right;
    /* margin-top: 10px; */
    width: 100%;
}
#openingsuren td
{
    width: 10%;
    text-align: center;
}
#blok3
{
    width: 105;
    margin-top: 5%;
    margin-bottom: 5%;
    /* padding-bottom: 10px;
    padding-top: 10px; */
    /* margin-left: 12.5%; */
    float: left;
    background-color: black;
    color: white;
}
/* infopagina */
.info, .h1infopagina
{
    margin-left: 5%;
}
#h2infopagina
{
    margin-top: 5%;
    margin-left: 40%;
}
.h1infopagina
{

    padding-top: 2%;
}
#infopaginainfo
{
    /* padding-left: 5%; */
    /* padding-right: 2%; */
    width: 100%;
    /* float: left; */
}
#mercedesimg
{
    /* float: right;
    padding-top: 5%; */
    /* padding-left: 2%; */
    /* padding-right: 5%; */
display: none;

}
#infopaginainfo2
{
    /* float: right; */

    /* padding-right: 5%; */
    width: 100%;
}

#bmwimg
{


    /* float: left; */
    /* padding-left: 5%;
    padding-right: 20%; */
 width: 100%;

}

#infopaginainfo3
{

    width: 50%;
    float: left;
}

#mercedes
{
    /* margin-bottom: 5%; */
    
}




/* homepagina */
.img1
{

    /* float: left;
    width: 40%;
    padding-left: 5%; */
    display: none;

}
#container
{
   /* margin-top: 50px;
    height: 400px; */
    /* margin-left: 150px;
    margin-right: 200px; */
}
.tekst
{

    /* float: right; */
    width: 100%;
}
.img2
{
    /* float: right;
    padding-right: 20%;
    width: 30%; */
    display: none;

}
#container2
{

    /* height:40%; */
    /* margin-left: 150px;
    margin-right: 50px; */
}
.tekst2
{
    /* margin-top: 25px;
    padding-left: 5%;
    float: left; */
    width: 100%;
}
.link
{
    margin-left: 100px;
}



/*
contactpagina
*/

#groteproblemen
{
    width: 40%;
    float: left;
    padding-left: 5%;
}

#kleineproblemen
{
    width: 40%;
    float: right;
    /* padding-right: 10%; */
}
#problemen
{
    margin-top: 100px;
}
#ondertitelcontactpagina
{
    text-align: center;
}

img[title="klokfoto"]
{

    width: 100%;
    /* margin-left: 25%; */
}




/*
afspraak maken
*/

#afspraakmaken
{
    margin-top: 50px;
    /* margin-left: 650px;
    margin-right: 640px; */
    /* margin-left: 25%; */
    background-color: black;
    padding: 20px;
    width: 100%;

    visibility: hidden;
}

#afspraakmaken table
{
    background-color: white;

}

#afspraakformulier
{
    margin-top: 100px;
    /* display: block; */
    margin-left: 400px;

}

input
{
    margin-left: 50px;
    width: 200px;
}
#mededelingafspraakmaken
{
    margin-left: 25%;
    width: 50%;
    margin-top: 50px;

}



/*
carrosserie
*/
#carrosserie1
{
    text-align: center;
    margin-top: 20px;
}
#carrosserie2
{
    text-align: center;
    margin-top: 10px;
}
#carrosserie3
{
    text-align: center;
    margin-top: 20px;
}
#carrosserie4
{
    text-align: center;
}

img[title="imgcarrosserie1"]
{
    /* float: right; */
    width: 100%;
    margin-top: 5%;
    /* margin-right: 150px;
    margin-top: 100px; */
}
img[title="imgcarrosserie2"]
{
    /* float: left;
    width: 50%; */
    display: none;
    /* margin-left: 90px;
    margin-top: 200px; */
}
.img1uitleg
{
    /* float: left; */
    width: 100%;
    /* margin-top: 150px;
    margin-left: 100px; */

}

#img2uitleg
{
   
    /* margin-top: 150px; */
    /* width: 50%;
 float: right;
    text-align: right; */
    /* margin-right: 150px; */
}
#stappenplan
{
    text-align: left;
}
#carrosserierood
{
    margin-bottom: 5%;
}
#imagepolijst
{
    padding: 1%;
}




/*
interieur
*/


#interieur1
{
    text-align: center;

    padding-top: 25px;
}
#interieur2
{
    text-align: center;
}
#interieur3
{
    text-align: center;
    padding-bottom: 25px;
}
#interieur4
{
    text-align: center;
    margin-top: 25px;
}
#interieur5
{
    margin-left: 40%;
}
#interieur6
{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

img[title="multimedia"]
{
   /*  float: left;
    margin-left: 100px;
    margin-top: 50px;

    margin-right: 75px; */
    width: 100%;
    margin-top: 5%;
}
#multimediaschermuitleg
{
    /* float: right; */
    /* margin-top: 25px;
    margin-right: 200px;
    margin-left: 200px; 
    text-align: right;*/
    width: 100%;


}
#ledinterieuruitleg
{
/* 
margin-left: 150px;
margin-top: 50px; 
float: left;*/
width: 100%;

}
img[title="ledinterieur"]
{
    
    width: 100%;
    margin-top: 5%;
    /* margin-top: 50px;
    margin-left: 150px;
    margin-right: 250px;
    float: right;
    */

}



/* login */
LOGIN
{
    width: 50%;
    margin-left: 25%;
    border: solid 2px black;
}